{{define "AdminDashboard_Top"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Administrator Dashboard</title>
    {{template "ExternalScripts" .}}
    <style>
        body {
            padding-top: 5rem;
        }

        .space {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<body>
    {{template "NavBar" .}}

    <main role="main" class="container">

        {{end}}