{{template "UserDashboard_Top" .}}
<h2>Upload File</h2>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
<form action="/user/file" method="POST" enctype="multipart/form-data">
    <div class="form-group custom-file">

        <label class="custom-file-label" for="customFile">Choose file</label>
        <input type="file" class="form-control custom-file-input" id="customFile" name="file">
    </div>

    <div class="form-group" style="padding-top: 1em;">
        <label for="number-hours">File Lifetime (hours)</label>

        <input class="form-control" type="number" name="hours" step="any" value="1" id="number-hours">
    </div>
    {{ .csrfField }}
    <button type="submit" class="btn btn-primary">Upload</button>

</form>

{{template "UserDashboard_Bottom" .}}